.navvbar{
    
    height: 100px;
    
}
.logoo{
    left: 1000px;
}
.carikbrand{
    font-size: 64px;
    color: white;
}
.carikpos{
    font-weight: bold;
font-size: 54px;
margin-left: 50px;
margin-top: 30px;

}
.navhome{
    position: absolute;
width: 100%;
height: 394px;


background: #000000;
}
.daco{
    background-image: url(../component/asset/Daco_4879330.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50px 0px;
}
