@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.kontens {
    font-family: 'Roboto', sans-serif;
    position: absolute;
   
    left: 115px;
    top: 410px;
    
   

}
.tittles{
    font-style: normal;
    font-weight:bolder;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    
    color: #000000;
}
.kartu{
    position: absolute;
width: 824px;
height: 557px;
left: 240px;
top: 820px;

background: rgba(255, 136, 0, 0.1);
border-radius: 29px;
}
.formbro {
    position: absolute;
    width: 90%;
    left: 40px;
    top: 40px;
}
.btn-custom2 { 
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color:white !important;
    width: 100px;
    margin-top: 20px;
    margin-left: 320px;
    border-radius: 5px;
    background-color: #FFBB33; 
    border-color: #fd961f; 
  } 
.btn-custom2:hover {
    
  background-color: #f1b130; 
  border-color: #ffa742; 
}